:root {
  --white: #fff;
  --gray: #f4f4f4;
  --color-red: #de2c62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-roboto);
}

body {
  background: var(--white);
  line-height: 1;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
